.popup__title_type_login {
    font-style: normal;
    font-size: 24px;
    font-weight: 900;
    line-height: 1;
    text-align: center;
    color: #fff;
    margin: 60px auto 20px;
    border: 0;
}

@media (max-width: 500px) {
    .popup__title_type_login {
        font-size: 20px;
    }
}