.popup__container_type_profile {
    position: relative;
    max-width: 430px;
    height: max-content;
    background-color: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

@media (max-width: 550px) {
    .popup__container_type_profile {
        max-width: 282px;
    }
}