.popup__container_type_confirmation {
    position: relative;
    max-width: 430px;
    height: max-content;
    background-color: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 0px 0px 36px;
}

@media (max-width: 500px) {
    .popup__container_type_confirmation {
        max-width: 282px;
    }    
}